*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'helvetica nue';
}
body{
    height:100%;
    width:100%;
    
    
}
.parent{
    min-height:100vh;
    width:100%;
    padding:30px;
    background-color: black;
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}
.card{
    height:350px;
    width:300px;
    background-color:white;
    border-radius:30px;
    padding:30px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.card .top{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.top img{
    height:40px;
    width:50px;
    border-radius: 50%;
    border:1px solid #dadada;
    padding:2px;
}
.top button{
    display:flex;
    align-items:center;
    border:1px solid #dadada;
    padding:4px 8px;
    font-size:13px;
    border-radius:10px;
    gap:5px;
    color:black;
}
.top button:hover{
    border:0.75px solid black;
}
.bottom{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-top:1px solid #b1b1b1;
    padding-top:15px;
}
.center h3{
    font-size:20px;
    font-weight:500;

}
.center h3 span{
    font-size:10px;
    font-weight:400;
    color:#b1b1b1;

}
.center h2{
    font-size:20px;

}
.center .tag{
    display:flex;
    gap:5px;
    margin-top:10px;

}
.center .tag h4{
    font-size:14px;
    background-color: #dadada;
    color:#111;
    padding:3px 6px;
    font-weight:500;
}
.bottom button{
    background-color: #111;
    color:white;
    border-radius:20px;
    border:none;
    padding:5px 10px;

}
.bottom h3{
    font-size:17px;

}
.bottom p{
    font-size:10px;
    color:gray;
}
.bottom button:hover{
    border:2px solid gray;
}
.card:hover{
    transform:translateY(-10px);
    border:2px solid grey;
}